.siete section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.carrito {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.subtotal {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.costo h1{
    width: 100%;
    margin: 20px 0px 0px 120px;
    text-align: right;
    text-decoration-line: overline;
}

.pagar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-c {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tarjeta-c img {
    width: 140px;
    height: 100px;
}

.total h1{
    margin: 10px 0px;
    text-align: center;
}

.datosTDC{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input[type="text"], input[type="email"], input[type="tel"], input[type="documento"], textarea , input[type="number"]{
    width: 100%;
    height: 25px;
    display: block;
    color: rgb(0, 0, 0);
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: white;
    resize: none;
    outline: none;
    padding: 7px;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgb(221, 221, 221);
}

button {
    width: 100px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    padding: 8px;
}

button:hover{
    background-color: rgba(83, 139, 136, 0.822);
}

.eresSocio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 50px;
}

.eresSocio input{
    width: 20%;
}