#siete {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.count-products {
    position: absolute;
    top: 9%;
    right: 0;
    background-color: white;
    color: black;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

#contador-productos {
    font-size: 14px;
    font-weight: bold;
}

.container-cart-products {
    width: 80%;
    border-radius: 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardCarrito{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo-producto-carrito {
    width: 55%;
    font-size: 20px;
    text-align: left;
}

.precio-producto-carrito {
    width: 30%;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    text-align: left;
    width: 15%;
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.carrito {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carritoDos {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.total h1 {
    margin: 40px 0px 10px;
    text-align: center;
}

.datosTDC {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="documento"],
textarea,
input[type="number"] {
    width: 70%;
    height: 25px;
    display: block;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 18px;
    background-color: white;
    resize: none;
    outline: none;
    padding: 7px;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-left: 50px;
}

.subtotal {
    font-size: 30px;
}

.totalPago {
    font-size: 25px;
}

.facturaCorreo {
    font-size: 25px;
    padding: 0px 15px;
}

.descuentoSocio {
    font-size: 15px;
}

.codigoDescuento {
    font-size: 19px;
    font-weight: bold;
    text-align: left;
}

button {
    width: 100px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    padding: 8px;
}

button:hover {
    background-color: rgba(83, 139, 136, 0.822);
}

.eresSocio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 25px;
    margin-top: 50px;
}

.eresSocio input {
    width: 30%;
}