.seis{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.486);
    display: none;
    z-index: 10;
}

.ditailsContainer{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1000;
    position: absolute;
}

.t-detalle {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}

.detallesDos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.img-product img {
    width: 330px;
    height: 380px;
}

.detalle-producto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalles-producto {
    width: 600px;
    font-size: 18px;
    background-color: beige;
    margin-top: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    line-height: 30px;
}

.detalles-producto ul {
    list-style-type: none;
    padding: 20px;
}

.clasificacion {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.clasificacion h1{
    font-size: 20px;
    font-weight: bolder;
}

.cantidad {
    font-size: 20px;
    background-color: beige;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 10px 15px;
}

button {
    width: 200px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(83, 139, 136, 0.822);
}

.calificar {
    text-decoration-line: underline;
    font-weight: bolder;
}

.botonCard{
    width: fit-content;
    border: transparent;
    text-decoration-line: underline;
    cursor: pointer;
}

.botonCard:hover{
    background-color: transparent;
}

@media screen and (max-width: 689px) {}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    
}