.imagenCarrusel {
    align-items: center;
    background-color: rgb(24, 22, 22);
    background-size: 0.25rem;
    display: flex;
    height: 45vh;
    justify-content: center;
}

.marquee {
    display: flex;
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 25%, black 75%, rgba(0, 0, 0, 0) 100%);
    width: 100vw;
    user-select: none;
    overflow: hidden;
}

.slide {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    min-width: 100%;
    animation: 100s linear 0s infinite normal none running slide-x;
}

.slide img{
    width: 300px;
    height: 200px;
    margin: 20px;
}

@keyframes slide-x {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    margin: 20px 45px;
}

.card img {
    width: 220px;
    height: 280px;
}

.card:hover{
    background-color: rgba(116, 133, 145, 0.24);
    box-shadow: 11px 13px 34px -2px rgba(0,0,0,0.49);
}