.tres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#checkboxProductos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 10px;
}
.imagen {
    width: 22%;
    margin: 0px 10px 0px 10px;
}

.search{
    display: flex !important;
}

.search {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 30px 20px;
}

#search {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
}

section h1{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-image: initial;
    margin: 50px 50px;
}

.card:hover{
    background-color: rgba(116, 133, 145, 0.24);
    box-shadow: 11px 13px 34px -2px rgba(0,0,0,0.49);
}

.card img {
    width: 450px;
    height: 380px;
    filter: drop-shadow(6px 6px 8px rgb(0, 0, 0));
}

.card p,
.card a{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin: 10px 0px;
    color: black;
}

.detalles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.CARRITO{
    width: 90%;
    font-size: 18px;
    margin-top: 10px;
    background-color: transparent;
    color: black;
    padding: 8px;
    text-decoration-line: none;
}

.CARRITO:hover{
    background-color: rgba(83, 139, 136, 0.822);
}

.ceroResultado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
}

.sinEventos{
    font-size: 28px;
}

@media screen and (max-width: 689px) {
    .search {
        height: 20px;
        margin-bottom: 50px;
        margin-top: 8px;
    }
    
    #search {
        width: 250px;
    }

    #checkboxProductos {
        flex-direction: column;
    }

    #checkboxProductos label{
        margin: 5px 0px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    
}