* {
    margin: 0px;
    padding: 0px;
}

/* body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/803/1006/desktop-wallpaper-white-leather-texture-white-texture.jpg);
    background-size: 100vw 100%;
    background-attachment: fixed;
} */

header {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(24, 22, 22));
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.botones ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navegacion {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imagen {
    width: 30%;
    margin: 0px 10px;
}

.imagen img {
    width: 280px;
    height: 13vh;
}

.botones a {
    text-decoration-line: none;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 20px;
}

.botones i {
    font-size: 25px;
}

.botones>li {
    float: left;
}

.botones li ul {
    display: none;
    position: absolute;
    min-width: 180px;
}

.botones li:hover>ul {
    display: block;
}

.menuD li {
    line-height: 50px;
}

.menuD {
    background-color: black;
    width: 130px;
    height: fit-content;
    color: white;
    padding: 0px 15px;
    z-index: 200;
}

.login {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 10px;
}

.login i {
    background-color: transparent;
    color: white;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.login ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.login li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    font-weight: bolder;
}

.login li ul a {
    color: white;
    font-weight: bolder;
    text-decoration-line: none;
}

.login li:hover>ul {
    display: block;
}

.search {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 30px 20px;
}

#search {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
}

main {
    width: 100%;
    height: 45%;
    min-height: 45vh
}

.whatsappB {
    position: fixed;
    right: 1%;
    bottom: 10%;
    z-index: 100;
}

.whatsappB img {
    width: 60px;
}

footer {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 /* background: linear-gradient(rgb(24, 22, 22), rgb(0, 0, 0), rgb(0, 0, 0)); */
}


.iconos ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    margin-bottom: 0;
}

.iconos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration-line: none;
    color: black;
}

.instagram,
.facebook,
.whatsapp {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    margin: 10px 10px;
    font-size: 45px;
    padding: 9px 11px 8px 11px;
    outline: solid transparent 2px;
    border-radius: 30px;
}

.iconos .instagram:hover {
    font-size: 40px;
    color: white;
    background: linear-gradient(#ffd500e7, #ff7b00e1, #ff006ae1, #d300c5e0, #7538fad8);
}

.iconos .facebook:hover {
    font-size: 40px;
    color: white;
    background-color: #2e5bbb;
}

.iconos .whatsapp:hover {
    font-size: 40px;
    color: white;
    background-color: #28bd2f;
}

.copyright {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: bolder;
    margin: 0px 20px;
}